---
title: Validation report
---

<!--@include: ../../docs/releases/VALIDATION_REPORT_v0.6.9.md-->
