---
title: Validation report
---

<!--@include: ../../docs/releases/VALIDATION_REPORT_v0.7.1-alpha.1.md-->
