---
title: Validation report
---

<!--@include: ../../docs/releases/VALIDATION_REPORT_v0.6.8.md-->
